<div style="overflow-x:auto;">
    <table>
  
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Acciones</th>
      </tr>
  
      <tr *ngFor="let cliente of clientes" >
  
        <td>{{cliente.clienId}}</td>
        <td>{{cliente.clienNombre}}</td>
        <td>{{cliente.clienDireccion}}</td>
  
        <td>
          <a routerLink=''>
            <button mat-raised-button color="primary" style="margin-right: 10px;">
              <mat-icon class="example-tab-icon">delete_outline</mat-icon>
            </button>
          </a>
  
          <a routerLink=''>
            <button mat-raised-button color="primary">
              <mat-icon class="example-tab-icon">edit</mat-icon>
            </button>
          </a>
        </td>
  
      </tr>
  
    </table>
  </div>